*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes full height of the viewport */
    background-image: url('https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_1280.jpg');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating of the background image */
}